pycryptodomex==3.21.0
fastapi==0.78.0
pyzstd==0.16.2
python-box==6.0.2
wandb==0.19.2
Brotli==1.1.0
pydantic==2.10.5
s3transfer==0.10.4
pybcj==1.0.3
dill==0.3.8
sacrebleu==2.5.1
datasets==3.2.0
mypy-boto3-s3==1.35.93
boto3==1.35.97
xxhash==3.5.0
jedi==0.19.2
multiprocess==0.70.16
Jinja2==3.1.2
colorama==0.4.6
fsspec==2024.9.0
inflate64==1.0.1
jmespath==1.0.1
rouge_score==0.1.2
ensure==1.0.2
texttable==1.7.0
uvicorn==0.18.3
starlette==0.19.1
multivolumefile==0.2.3
botocore==1.35.97
py7zr==0.22.0
pyppmd==1.1.1
portalocker==3.1.1
evaluate==0.4.3
google-colab==1.0.0
editdistance==0.8.1
ipykernel==5.5.6
slicer==0.0.8
numpy==1.26.4
blosc2==2.7.1
packaging==24.2
contourpy==1.3.1
ipyleaflet==0.19.2
websockets==14.1
xgboost==2.1.3
shapely==2.0.6
google-crc32c==1.6.0
wasabi==1.1.3
ml-dtypes==0.4.1
huggingface-hub==0.27.1
ptyprocess==0.7.0
colorcet==3.1.0
parsy==2.1
langsmith==0.2.10
notebook==6.5.5
firebase-admin==6.6.0
albumentations==1.4.20
shap==0.46.0
sqlparse==0.5.3
exceptiongroup==1.2.2
googleapis-common-protos==1.66.0
geopandas==1.0.1
sklearn-compat==0.1.3
pymc==5.19.1
cymem==2.0.10
PySocks==1.7.1
torchvision==0.20.1+cu121
community==1.0.0b1
PyDrive2==1.21.3
certifi==2024.12.14
inflect==7.5.0
shellingham==1.5.4
google-resumable-media==2.7.2
imagesize==1.4.1
frozendict==2.4.6
tokenizers==0.21.0
astropy==6.1.7
google-cloud-pubsub==2.27.2
miniKanren==1.0.3
pathlib==1.0.1
setproctitle==1.3.4
umf==0.9.1
tabulate==0.9.0
itsdangerous==2.2.0
glob2==0.7
google-api-core==2.19.2
grpc-google-iam-v1==0.14.0
uritemplate==4.1.1
google-ai-generativelanguage==0.6.10
pytz==2024.2
nvidia-cuda-cupti-cu12==12.6.80
sqlglot==25.1.0
xarray==2025.1.0
diffusers==0.32.1
ply==3.11
lightgbm==4.5.0
eerepr==0.0.4
py-cpuinfo==9.0.0
pygame==2.6.1
MarkupSafe==3.0.2
locket==1.0.0
array_record==0.6.0
torchsummary==1.5.1
catalogue==2.0.10
psutil==5.9.5
pandas==2.2.2
google-auth==2.27.0
PyJWT==2.10.1
tf_keras==2.17.0
stringzilla==3.11.3
dask==2024.10.0
wordcloud==1.9.4
jupyterlab_pygments==0.3.0
py4j==0.10.9.7
zipp==3.21.0
ipython==7.34.0
earthengine-api==1.4.4
gspread-dataframe==4.0.0
numexpr==2.10.2
libcudf-cu12==24.10.1
tables==3.10.1
kaggle==1.6.17
gensim==4.3.3
cmake==3.31.2
tensorflow-probability==0.24.0
future==1.0.0
tensorflow-io-gcs-filesystem==0.37.1
cloudpathlib==0.20.0
tenacity==9.0.0
librosa==0.10.2.post1
intel-cmplr-lib-ur==2025.0.4
aiohappyeyeballs==2.4.4
sphinxcontrib-jsmath==1.0.1
colour==0.1.5
libclang==18.1.1
cufflinks==0.17.3
dlib==19.24.2
spacy==3.7.5
vega-datasets==0.9.0
pyspark==3.5.4
ibis-framework==9.2.0
soxr==0.5.0.post1
bigframes==1.31.0
openpyxl==3.1.5
nest-asyncio==1.6.0
datascience==0.17.6
nbclient==0.10.2
imbalanced-learn==0.13.0
pluggy==1.5.0
nbconvert==7.16.5
html5lib==1.1
albucore==0.0.19
cffi==1.17.1
prompt_toolkit==3.0.48
param==2.2.0
geemap==0.35.1
terminado==0.18.1
importlib_resources==6.5.2
sentry-sdk==2.19.2
nvidia-cufft-cu12==11.3.0.4
matplotlib==3.10.0
referencing==0.35.1
gspread==6.1.4
timm==1.0.12
jupyter_core==5.7.2
pycparser==2.22
jax-cuda12-pjrt==0.4.33
stanio==0.5.1
urllib3==2.3.0
docstring_parser==0.16
webencodings==0.5.1
confection==0.1.5
progressbar2==4.5.0
multipledispatch==1.0.0
h5netcdf==1.4.1
duckdb==1.1.3
orjson==3.10.13
platformdirs==4.3.6
ipyparallel==8.8.0
debugpy==1.8.0
pytest==8.3.4
panel==1.5.5
pyogrio==0.10.0
pytensor==2.26.4
tensorboard-data-server==0.7.2
importlib_metadata==8.5.0
missingno==0.5.2
google-cloud-bigquery==3.25.0
mkl==2025.0.1
seaborn==0.13.2
google-cloud-core==2.4.1
GDAL==3.6.4
mdit-py-plugins==0.4.2
rsa==4.9
httpcore==1.0.7
soundfile==0.13.0
cons==0.4.6
tqdm==4.67.1
yfinance==0.2.51
pyproj==3.7.0
sphinxcontrib-devhelp==2.0.0
jaxlib==0.4.33
widgetsnbextension==3.6.10
attrs==24.3.0
traitlets==5.7.1
google-cloud-language==2.16.0
arviz==0.20.0
tensorboard==2.17.1
docutils==0.21.2
sentence-transformers==3.3.1
prometheus_client==0.21.1
einops==0.8.0
polars==1.9.0
blis==0.7.11
msgpack==1.1.0
Werkzeug==3.1.3
torch==2.5.1+cu121
narwhals==1.21.1
peft==0.14.0
cycler==0.12.1
multitasking==0.0.11
google-cloud-iam==2.17.0
httpx==0.28.1
cloudpickle==3.1.0
six==1.17.0
tifffile==2024.12.12
pandocfilters==1.5.1
opentelemetry-sdk==1.29.0
pynvjitlink-cu12==0.4.0
pandas-datareader==0.10.0
sniffio==1.3.1
pyarrow==17.0.0
google-cloud-bigtable==2.27.0
tomli==2.2.1
defusedxml==0.7.1
tensorflow-datasets==4.9.7
proglog==0.1.10
dm-tree==0.1.8
ratelim==0.1.6
cudf-cu12==24.10.1
astunparse==1.6.3
langcodes==3.5.0
openai==1.59.4
opencv-python-headless==4.10.0.84
anyio==3.7.1
etils==1.11.0
opentelemetry-api==1.29.0
gcsfs==2024.10.0
srsly==2.5.0
cachetools==5.5.0
yarl==1.18.3
aiohttp==3.11.11
immutabledict==4.2.1
Send2Trash==1.8.3
smart-open==7.1.0
aiosignal==1.3.2
parso==0.8.4
toolz==0.12.1
tzdata==2024.2
xarray-einstats==0.8.0
scipy==1.13.1
fastprogress==1.0.3
PyDrive==1.3.1
blinker==1.9.0
rpy2==3.4.2
orbax-checkpoint==0.6.4
namex==0.0.8
osqp==0.6.7.post3
gym==0.25.2
google-cloud-translate==3.19.0
jieba==0.42.1
langchain==0.3.14
google-cloud-bigquery-storage==2.27.0
partd==1.4.2
jupyter-console==6.1.0
pyshp==2.3.1
nbclassic==1.1.0
google-cloud-datastore==2.20.2
jellyfish==1.1.0
psycopg2==2.9.10
requests-toolbelt==1.0.0
rich==13.9.4
scikit-learn==1.6.0
filelock==3.16.1
Flask==3.1.0
fastcore==1.7.28
xyzservices==2024.9.0
statsmodels==0.14.4
nvidia-nvjitlink-cu12==12.6.85
beautifulsoup4==4.12.3
portpicker==1.5.2
tweepy==4.14.0
opt_einsum==3.4.0
googledrivedownloader==0.4
pylibraft-cu12==24.10.0
text-unidecode==1.3
uc-micro-py==1.0.3
SQLAlchemy==2.0.36
threadpoolctl==3.5.0
promise==2.3
natsort==8.4.0
proto-plus==1.25.0
fastdownload==0.0.7
types-pytz==2024.2.0.20241221
PyOpenGL==3.1.7
pickleshare==0.7.5
bleach==6.2.0
alabaster==1.0.0
wheel==0.45.1
google==2.0.3
oauthlib==3.2.2
tornado==6.3.3
google-cloud-bigquery-connection==1.17.0
Pyomo==6.8.2
lazy_loader==0.4
bigquery-magics==0.5.0
h5py==3.12.1
gdown==5.2.0
ndindex==1.9.2
idna==3.10
smmap==5.0.2
sphinxcontrib-qthelp==2.0.0
altair==5.5.0
jsonpointer==3.0.0
jupyter-client==6.1.12
docker-pycreds==0.4.0
ipyevents==2.0.2
bqplot==0.12.44
matplotlib-inline==0.1.7
imgaug==0.4.0
pylibcugraph-cu12==24.10.0
jsonschema-specifications==2024.10.1
marisa-trie==1.2.1
httplib2==0.22.0
nvidia-nccl-cu12==2.24.3
preshed==3.0.9
python-slugify==8.0.4
Sphinx==8.1.3
entrypoints==0.4
multidict==6.1.0
colorlover==0.3.0
wrapt==1.17.0
flax==0.10.2
argon2-cffi==23.1.0
sphinxcontrib-serializinghtml==2.0.0
pycocotools==2.0.8
bokeh==3.6.2
optree==0.13.1
wcwidth==0.2.13
websocket-client==1.8.0
propcache==0.2.1
rmm-cu12==24.10.0
holoviews==1.20.0
qdldl==0.1.7.post5
music21==9.3.0
markdown-it-py==3.0.0
backcall==0.2.0
google-cloud-aiplatform==1.74.0
thinc==8.2.5
flatbuffers==24.12.23
snowballstemmer==2.2.0
annotated-types==0.7.0
dopamine_rl==4.1.0
distro==1.9.0
mizani==0.13.1
nx-cugraph-cu12==24.10.0
frozenlist==1.5.0
keras==3.5.0
notebook_shim==0.2.4
plotnine==0.14.5
more-itertools==10.5.0
grpcio-status==1.62.3
requests==2.32.3
langchain-text-splitters==0.3.5
typeguard==4.4.1
gin-config==0.5.0
mlxtend==0.23.3
networkx==3.4.2
logical-unification==0.4.6
tf-slim==1.1.0
pandas-gbq==0.26.1
hyperopt==0.2.7
Deprecated==1.2.15
tensorflow-metadata==1.13.1
typing_extensions==4.12.2
absl-py==1.4.0
cuda-python==12.2.1
jax-cuda12-plugin==0.4.33
greenlet==3.1.1
safetensors==0.5.1
ipython-genutils==0.2.0
fastai==2.7.18
cupy-cuda12x==12.2.0
fonttools==4.55.3
pyasn1==0.6.1
python-utils==3.9.1
db-dtypes==1.3.1
ipywidgets==7.7.1
geopy==2.4.1
gitdb==4.0.12
nvidia-cuda-runtime-cu12==12.6.77
astropy-iers-data==0.2025.1.6.0.33.42
google-auth-httplib2==0.2.0
argon2-cffi-bindings==21.2.0
jupyter-leaflet==0.19.2
accelerate==1.2.1
sympy==1.13.1
google-cloud-functions==1.19.0
spacy-legacy==3.0.12
prophet==1.1.6
jsonpatch==1.33
nvidia-cudnn-cu12==9.6.0.74
lxml==5.3.0
ipytree==0.2.2
toml==0.10.2
cvxpy==1.6.0
charset-normalizer==3.4.1
webcolors==24.11.1
Cython==3.0.11
Markdown==3.7
en-core-web-sm==3.7.1
language_data==1.3.0
textblob==0.17.1
nibabel==5.3.2
nltk==3.9.1
etuples==0.3.9
fastrlock==0.8.3
soupsieve==2.6
pyerfa==2.0.1.5
chardet==5.2.0
atpublic==4.1.0
GitPython==3.1.44
llvmlite==0.43.0
nbformat==5.10.4
sphinxcontrib-applehelp==2.0.0
holidays==0.64
jax==0.4.33
google-auth-oauthlib==1.2.1
pyOpenSSL==24.2.1
torchaudio==2.5.1+cu121
google-cloud-firestore==2.19.0
branca==0.8.1
google-cloud-storage==2.19.0
tcmlib==1.2.0
langchain-core==0.3.29
grpcio==1.69.0
regex==2024.11.6
gym-notices==0.0.8
mpmath==1.3.0
matplotlib-venn==1.1.1
jsonschema==4.23.0
easydict==1.13
babel==2.16.0
sentencepiece==0.2.0
kiwisolver==1.4.8
python-dateutil==2.8.2
cvxopt==1.3.2
patsy==1.0.1
rpds-py==0.22.3
geocoder==1.38.1
pandas-stubs==2.2.2.240909
nvtx==0.2.10
h11==0.14.0
CacheControl==0.14.2
google-pasta==0.2.0
moviepy==1.0.3
tensorflow-hub==0.16.1
nvidia-cusolver-cu12==11.7.1.2
google-genai==0.3.0
kagglehub==0.3.6
pydantic_core==2.27.2
linkify-it-py==2.0.3
nvidia-cuda-nvcc-cu12==12.6.85
optax==0.2.4
jiter==0.8.2
tensorstore==0.1.71
tbb==2022.0.0
scikit-image==0.25.0
pymystem3==0.2.0
pydot==3.0.4
pyzmq==24.0.1
sphinxcontrib-htmlhelp==2.1.0
ipython-sql==0.5.0
requests-oauthlib==1.3.1
python-louvain==0.16
pydotplus==2.0.2
tinycss2==1.4.0
Pygments==2.18.0
imageio==2.36.1
tzlocal==5.2
imutils==0.5.4
typer==0.15.1
protobuf==4.25.5
scooby==0.10.0
pygit2==1.16.0
audioread==3.0.1
mistune==3.1.0
termcolor==2.5.0
cmdstanpy==1.2.5
weasel==0.4.1
cryptography==43.0.3
google-generativeai==0.8.3
pooch==1.8.2
decorator==4.4.2
ipyfilechooser==0.6.0
opentelemetry-semantic-conventions==0.50b0
graphviz==0.20.3
gast==0.6.0
click==8.1.8
pillow==11.1.0
humanize==4.11.0
transformers==4.47.1
chex==0.1.88
google-api-python-client==2.155.0
google-cloud-resource-manager==1.14.0
pyviz_comms==3.0.3
pexpect==4.9.0
clarabel==0.9.0
joblib==1.4.2
intel-openmp==2025.0.4
traittypes==0.2.1
autograd==1.7.0
opencv-python==4.10.0.84
sklearn-pandas==2.2.0
jupyterlab_widgets==3.0.13
simple-parsing==0.1.6
oauth2client==4.1.3
xlrd==2.0.1
murmurhash==1.0.11
fastjsonschema==2.21.1
iniconfig==2.0.0
httpimport==1.4.0
pyasn1_modules==0.4.1
numba==0.60.0
pyparsing==3.2.1
spacy-loggers==1.0.5
pydata-google-auth==1.9.0
et_xmlfile==2.0.0
nvidia-curand-cu12==10.3.7.77
jupyter-server==1.24.0
folium==0.19.4
mdurl==0.1.2
plotly==5.24.1
PyYAML==6.0.2
opencv-contrib-python==4.10.0.84
pylibcudf-cu12==24.10.1
pyperclip==1.9.0
jsonpickle==4.0.1
yellowbrick==1.5
prettytable==3.12.0
Bottleneck==1.4.2
nvidia-cublas-cu12==12.6.4.1
async-timeout==4.0.3
imageio-ffmpeg==0.5.1
tensorflow==2.17.1
nvidia-cusparse-cu12==12.5.4.2
eval_type_backport==0.2.2
geographiclib==2.0
peewee==3.17.8
scs==3.2.7.post2
python-apt==0.0.0
pip==24.1.2
types-setuptools==75.6.0.20241223
requirements-parser==0.9.0
setuptools==75.1.0
Abstractive_Text_Summarizer==0.0.0
SecretStorage==3.3.1
dbus-python==1.2.18
keyring==23.5.0
lazr.restfulclient==0.14.4
distro==1.7.0
PyJWT==2.3.0
lazr.uri==1.0.6
more-itertools==8.10.0
PyGObject==3.42.1
cryptography==3.4.8
blinker==1.4
httplib2==0.20.2
launchpadlib==1.10.16
six==1.16.0
wadllib==1.3.6
oauthlib==3.2.0
jeepney==0.7.1
pyparsing==2.4.7
zipp==1.0.0
importlib-metadata==4.6.4
python-apt==2.4.0+ubuntu4
platformdirs==4.2.2
inflect==7.3.1
importlib_resources==6.4.0
autocommand==2.2.2
backports.tarfile==1.2.0
zipp==3.19.2
packaging==24.1
typeguard==4.3.0
more-itertools==10.3.0
tomli==2.0.1
typing_extensions==4.12.2
jaraco.functools==4.0.1
wheel==0.43.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
importlib_metadata==8.0.0
jaraco.text==3.12.1
